{% extends "layout.html" %}

{% block title %}
Choose Language
{% endblock %}

{% load static %}
{% block style%}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}


{% block content %}
<div class="heading">Select Your Language</div>
<div class="sections">
    <a href="hindi/hindi.html" class="half" onclick="speak('Hindi page is opened for you.')">
        <button class="button">हिंदी</button>
    </a>

    <!-- English Section -->
    <a href="english/english.html" class="half" onclick="speak('English page is opened for you.')">
        <button class="button">English</button>
    </a>
</div>
<script src="{% static 'voice-navigation.js' %}"></script>
<script src="{% static 'voice-feedback.js' %}"></script>
{% endblock %}