body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(135deg, #f1cacb, #fad0c4, #fbc2eb);
}
.heading {
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.sections {
    display: flex;
    width: 100%;
    height: 100%;
}
.half {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 68px;
    font-weight: bold;
    color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.hindi .button {
    background-color: #f7f1f1;
}
.english .button {
    background-color: #f3fbf5;
}
