{% extends "layout.html" %}

{% block title %}Hindi Learning{% endblock %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'learning-option.css' %}">
{% endblock %}

{% block content %}
<div class="parent">
    <div class="child">
        कविता
    </div>
    <div class="child">
        कहानियाँ
    </div>
    <div class="child">
        गीत
    </div>
    <div class="child">
        अभ्यास<br>(बॉट से बात करें)
    </div>
</div>

<script src="{% static 'voice-navigation.js' %}"></script>
<script src="{% static 'voice-feedback.js' %}"></script>
{% endblock %}