<style>
    .parent{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        padding: 10px 10px;
    }
    .child{
        margin: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        background-color: #265e5e;
        color: white;
        cursor: pointer;
    }
</style>

<div class="parent">
    <div class="child">
        Poems
    </div>
    <div class="child">
        Short Stories
    </div>
    <div class="child">
        Songs
    </div>
    <div class="child">
        Practice(Talk with bot)
    </div>
</div>